.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}

.footer-logo {
  width: 122px; /* ajusté selon la capture */
  margin-bottom: 1rem;
}

.footer-text {
  font-size: 16px;
}