.header {
  background-color: white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.logo {
  height: 50px;
}

.nav {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.link.active {
  text-decoration: underline;
}